{% extends 'manage_layout.html' %}
{% block title %}
    部门管理
{% endblock %}
{% block url_add_name %}
    /department/add
{% endblock %}
{% block button_name %}
    新建部门
{% endblock %}
{% block search_placeholder_name %}部门查询
{% endblock %}
{% block list %}
    部门列表
{% endblock %}
{% block table_class %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>部门名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in depart_list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.depart }}</td>
                <td><a href="/department/{{ i.id }}/edit"
                       class="btn btn-primary btn-xs">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="/department/{{ i.id }}/delete" class="btn btn-danger btn-xs">删除</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
{% endblock %}